@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.App {
  height: 100%;
}

.view {
  display: block;
  width: 100%;
  padding: 1px;
  border: 0;
  height: calc(100% - 56px - 56px);
  overflow-y: scroll;
}
