.status-connected {
    color: #008000;
}
.status-connected::before {
    content: 'Подключен.';
}

.status-connecting {
    color: #808080;
}
.status-connecting::before {
    content: 'Подключение...';
}

.status-call {
    color: green;
}
.status-call::before {
    content: 'Активный вызов';
}

.status-hold {
    color: yellow;
}
.status-hold::before {
    content: 'Удержание вызова';
}

.status-none {
    color: #808080;
}
.status-none::before {
    content: 'Инициализация...';
}

.status-progress {
    color: green;
}
.status-progress::before {
    content: 'Выполнение вызова';
}
